body {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "navbar content";
    min-height: 100vh;
    background-attachment: cover;
    background-repeat: no-repeat;
}

header {
    grid-area: "navbar";
    min-height: 100vh;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: red !important;*/
    padding-top: 20px;
}

.vertical-menu-item {
    margin-bottom: 20px;
}

.vertical-menu-user {
    background-size: cover;
    cursor: pointer;
    border-radius: 50%;
}

.vertical-menu-user:hover .vertical-menu-user-upload {
    display: block;
}

.vertical-menu-user-upload {
    background-image: url(../img/upload-button.png);
    background-color:rgba(255, 255, 255, .8);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    border-radius: 50%;
}

.vertical-menu-bg-colors {
    margin-top: 10px;
}

.vertical-menu-bg-colors ul li {
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

/*==============================================================================*/

.default-pic {
    background-image: url(../img/user.png)
}

.img-size-50x50 {
    width: 50px;
    height: 50px;
}

.img-size-30x30 {
    width: 30px;
    height: 30px;
}

.img-size-w-30 {
    width: 30px;
    height: auto;
}

.rounded {
    border-radius: 50%;
}

.background-transparent {
    background-color: rgba(255, 255, 255, .5);
}

.background-white {
    background-color: #F5F5F5;
}

.background-black {
    background-color: #363636;
}

.background-cyan {
    background-color: #00D1B2;
}

.background-blue {
    background-color: #209cee;
}

.background-light-green {
    background-color: #48C774;
}

.background-yellow {
    background-color: #FFDD57;
}

.background-green {
    background-color: #348100;
}

.background-image {
    background-image: url(../img/image.png);
    background-size: cover;
}
